@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background-image: url('/images/background.svg');
  background-color: rgba(100, 100, 100, 0.05);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
